<h1>豆瓣电影</h1>
<ul class="toplist">
    <li><a class="active" ng-href="#/head">热门电影</a></li>
    <li><a ng-href="#/recommend">电影推荐</a></li>
    <li><a ng-href="#/search">电影查询</a></li>
</ul>

<style type="text/css">
    h1{
        width:100%;
        height:0.5rem;
        position: absolute;
        top:0;
        background:#2b2b2b;
        line-height:50px;
        color:#fff;
        font-size:20px;
        text-align:center;
        letter-spacing: 3px;
    }

    ul,li{
        list-style:none;
        color:#fff;
        font-size:20px;
    }
    .toplist{
        position: fixed;
        bottom:0;
        width:100%;
        height:50px;
        background:#2b2b2b;
        line-height:50px;
        z-index: 100;
    }
    .toplist li{
        float:left;
        text-align:center;
        width:33.3%;
    }
    .toplist li a{
        color:#fff;
    }
    .toplist .active{
        color:#696;
    }
</style>
