<h1>豆瓣电影</h1>
<ul class="toplist">
    <li class="active">热门电影</li>
    <li>电影推荐</li>
    <li>电影查询</li>
</ul>

<style type="text/css">
    h1{
        width:100%;
        height:0.5rem;
        position: relative;
        top:0;
        background:#2b2b2b;
        line-height:50px;
        color:#fff;
        font-size:20px;
        text-align:center;
        letter-spacing: 3px;
    }

    ul,li{
        list-style:none;
        color:#fff;
        font-size:20px;
    }
    .toplist{
        position: fixed;
        bottom:0;
        width:100%;
        height:50px;
        background:#2b2b2b;
        line-height:50px;
        z-index: 100;
    }
    .toplist li{
        float:left;
        text-align:center;
        width:33.3%;
    }
    .active{
        color:#696;
    }
</style>